body{
    text-align: center;
    color:white;
    background: black;
     
}

.scorecard {
    display: flex;
    justify-content: space-around;
    margin: auto;
    border: 1px solid white;
    height: 300px;
    width:500px;
    background:url("https://resources.premierleague.com/premierleague/photo/2020/10/14/f1f23c0a-cd6c-4959-9e31-582f3190b4d1/Statement_Graphic_Pink.png");
    background-size: 100%;
}
h3{
    text-shadow:1px 1px 1px black;
    margin-top: 60px;
    font-weight: bolder;
    color: #7d451b;
}
.score{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px 20px;
    width : 30px;
    height: 20px;
    background: #0a0908;
    font-family: Cursed Timer ULiL;
    color: #a10702;
}

.btn{
    border: 1px solid white;
    border-radius: 8%;
    padding: 8px 12px;
    background:#5e6472;
}
#reset{
    display: block;
    margin: 10px auto;
}